{% extends "base.html" %}
{% block title %}Загрузить отчет{% endblock %}
{% block content %}
    <div class="container">
        <div class="get_report-header">
            <h1 class="get_report-header__header">Получить отчет</h1>
        </div>
        <div class="get_report-form">
            <form action="" enctype="multipart/form-data" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p class='submit-row'><input type="submit" value="Загрузить"></p>
            </form>
        </div>
    </div>
    <script>
        window.date_limits = JSON.parse("{{ date_limits|escapejs }}");
    </script>
{% endblock %}