{% extends "base.html" %}
{% block title %}Загрузить отчет{% endblock %}
{% block content %}
    <div class="container">
        <div class="upload-header">
            <h1 class="upload-header__header">Загрузить отчет</h1>
        </div>
        <div class="upload-form">
            <form action="" enctype="multipart/form-data" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p class='submit-row'><input type="submit" value="Загрузить"></p>
            </form>
        </div>
    </div>
    <script>
        window.date_limits = [];
        window.date_limits_case = "7";
    </script>
{% endblock %}